{% extends "../base.html.j2" %}
{% block title %}Overview{% endblock %}
{% block description %}Overview of a CO2 and TVOC sensor data.{% endblock %}
{% block content %}
    {% include "../block/index.html.j2" %}
{% endblock %}
