{% extends "base.html.j2" %}
{% block title %}Measurements{% endblock %}
{% block description %}List of measurements{% endblock %}
{% block content %}
    {% include "block/measurements.html.j2" %}
{% endblock %}
